.main {
  overflow: hidden;
  padding: 20px 10px;
  
}

.main [type="text"] {
    display: block;
     margin : 0 auto;
    width: 60%;
    padding: 12px 20px;
}

.main [id="container"] {
  margin-right: 0 auto;
}

.main [id="search"] {
    display: block;
        margin : 0 auto;
}

.head{

background-color: #000000;

}

body{
  size: 3cm;
  position: left;

}


.avatar{
  height: 80%; 
  width: 200px; 
  position: center;

}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* displaying images */
img {
  width: 128px;
  height: 196px;
  margin: 20px;
}


.book-url {
  margin: 20px;
  text-decoration: none; 
}


.book-url > .cover {
  width: 128px;
  height: 196px;
  background: gray;
}

.book-url > .title {
  overflow: hidden;
  margin-left: 20px;
  inline-size: 128px;
  display: block; 
  color : black;
}

.book-url > .author {
  margin-left: 20px;
  width: 128px;
  display: block; 
  color : gray;
}


#container {
  margin-top : 30px;
  /* away from side nag */
  margin-left: 200px; 
}

#container > div{
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

/* https://stackoverflow.com/questions/22543336/css-how-to-position-a-x-sign-at-the-top-right-corner-of-the-img-element */
.close:before {
  content: '✕';
}
.close {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
}