.button-color {
    margin: 20px;
    position: relative;
    bottom: 50%;
    align-items: center;
    left: 38%;
    border : hidden;
    color : gray;
    background-color: #ece6d7;
    border-bottom: 1px gray solid;
    border-radius: 15%;
}

#titleH{
    text-align: center;
    font-weight: bolder;
}

p{
    text-indent: 40px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

body{
    background-color: #ece6d7;
}

/* https://stackoverflow.com/questions/15935837/how-to-display-a-range-input-slider-vertically */
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: auto;
    height: 50px;
    padding: 0 5px;
    position: fixed;
}

#style_bar{
    position: fixed;
    display: none;
}

#content, #titleH{
    /* https://stackoverflow.com/questions/7018324/how-to-stop-highlighting-of-a-div-element-when-double-clicking */
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* The rule below is not implemented in browsers yet */
    -o-user-select: none;

    /* The rule below is implemented in most browsers by now */
    user-select: none;

}